.wrapper{
  width:100%;
  text-align:center;
}
h2{
  font-family:'Opan Sans', sans-serif;
  color:#555;
}
.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
}
.sliderelem img{
	height: 150px;
	max-width: 240px;
}
.partner-name{
	display: none;
}